/* Глобально*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333333;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    font-weight: normal;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Для заголовка */
  
  header {
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    display: flex;
    
  }
  
  nav li {
    margin-right: 20px;
    
  }
  
  nav a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Основной контент */

  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  section li {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  section li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  section li h3 {
    margin: 0;
  }
  
  section li p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  section li a {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2%;
  }
  
  section li a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Футер */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

    